.navbar.is-info {
  background-color: #3273dc !important;
}

.navbar.is-info a.navbar-item:hover,
.navbar.is-info a.navbar-item.is-active,
.navbar.is-info .navbar-link:hover,
.navbar.is-info .navbar-link.is-active,
.navbar.is-info .navbar-burger:hover,
.navbar.is-info .navbar-burger.is-active {
  background-color: #285db1 !important;
  color: white !important;
}

.navbar-burger span {
  background-color: white !important;
}