.App-section {
  background: linear-gradient(90deg,rgba(73, 172, 249, 0.57),rgba(137, 255, 244, 0.68)),url(./inverloch.jpg);
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .App-section__title {
    font-size: 2rem !important;
  }
}